Django==4.1.1
# PyMongo==4.2.0
pymongo==3.12.3
djongo==1.3.6
mango-jwt==1.3.2
PyJWT==v1.7.1 # this is for encode-8 without this don't generate the jwt token 

# django-rest-framework==0.1.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2 # create tokens https://django-rest-framework-simplejwt.readthedocs.io/en/latest/getting_started.html

Pygments==2.16.1 # Pygments is a syntax highlighting package written in Python.
django-cors-headers==4.2.0 # https://www.youtube.com/watch?v=diB38AvVkHw
Pillow==10.0.0
srv==1.1.0
# pymongo==4.4.1
# swagger
drf-spectacular==0.26.4
PyYAML==6.0.1
uritemplate==4.1.1
django-tailwindcss==0.4.0
django-allauth==0.54.0
bs4==0.0.1

pyotp==2.9.0
django-tailwind==3.6.0
django-tailwind[reload]

tailwind
django-browser-reload==1.11.0



# https://www.youtube.com/watch?v=DDSN1Tq9hz0

# build environment commands
# python -m venv env
# pip install -r requirements.txt

# commands used
# python manage.py makemigrations
# python manage.py migrate
# python manage.py runserver


# other commands
# python manage.py spectacular --file open-schema.yml
# python manage.py createsuperuser